<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title> <%= title %> </title>
    </head>
    <body>
        <br><br>
        <div id="flex-container">
         <nav>
            <a href="/clothingList">View Clothing List</a>
            <br><br>
            <a href="/addClothingItem">Add Clothing Item</a> 
        </nav>
        <header>
            <a href="/">
                <img src="/images/theClothesList.png" 
                alt="the clothes list in black lettering with a green cross stroke for the letter T">
            </a>
            <h1><%= appName %></h1>
        </header>