<%- include('./partials/header') %>
    <p>Welcome!</p>
    <p>
        This application is to help you to keep track of clothing you want to be able to buy
        again. 
    </p>
    <br>
    <p>
        I thought about making this database application because I like to take the
        tags off clothes or <br> if it has a tagless print that may wash off eventually.
    </p>
    <br>
    <p>
        You will be able to view, add, edit, and delete clothing items. 
    </p>
    <br>
    <p>
        You'll be able to select a category: tops, bottoms, full outfit, 
        underwear, footwear, and accessories.
    </p>
    <br>
    <p>
        I hope you enjoy this database ദ്ദി◝ ⩊ ◜.ᐟ
    </p>
    <br>
<%- include('partials/footer') %>