/* style for body of page */

    body {
        margin: 0;
        padding: 0;
        font-family:'Times New Roman', Times, serif;
        background-color: rgba(238, 228, 214, 0.846);
    }

/* style for image logo */

    img {
        width: 20%;
        height: auto;
        margin-top: 1em;
    }

/* style for nav bar */

nav {
    text-align: center;
}

nav a {
    color:#5c825e;
    text-decoration: none;
}

/* styles for links */
a {
    font-size: 20px;
}

a:link {
  color: rgb(49, 81, 49);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #505c80;
  background-color: transparent;
}

a:visited {
    color: #3a4972;
}


/* style for header, footer, p, h2*/

    header, footer, p, h2 {
        text-align: center;
    }

    #flex-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-height: 100svh;
    }

    footer {
        margin-top: auto;
        background-color:#5e6b91de;
    }

/* styles for table on clothingList page */

    table {
        border-collapse: collapse;
        margin: 3em;
    }

    td, th {
        border: 1px solid black;
        text-align: center;
        padding: 1em;
    }

/* styles for forms */

    form {
        border-radius: 7px;
        background-color: #cccbcb;
        text-align: center;
        padding: 20px;
    }

    input[type=submit] {
    width: 90%;
    background-color: #5f8e61;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type=text], input[type='number'], select {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    

    input[type=submit]:hover {
    background-color: #5c825e;
    }

    form label {
        font-weight: bold;
    }

    select:focus, input:focus {
    background-color: #E5EBDF;
    }